.checkboxLabel {
  display: block;
  position: relative;

  padding-left: 1.95em;
  margin: var(--checkbox-margin, 15px) 0;
  color: #FFFFFF;
  
  font-size: 1.25em;
  z-index: 1;
  cursor: pointer;
  width: 50%;
  min-height: 40%;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    
    width: 1.25em;
    height: 1.25em;
    
    border: 2px solid #FEA3AA;

    border-radius: .25em;
  }

  &:active::before, &.checked::before {
    background-color: #FEA3AA;
  }

  &:active::before, &.radio::before {
    border-radius: 1em;
    border: 3px solid #FEA3AA;
    outline: 3px solid #1D2644;
    outline-offset: -5px;
    transform: translateY(16px) translateX(3vw);
    @media (max-width: 700px) {
      transform: translateY(16px) translateX(6vw);
    }
  }

  &.radio {
    max-width: 10%;
    text-align: center;
    @media (max-width: 1200px) {
      text-align: left;
      margin-left: -10px;
    }
  }

  .checkbox {
    position: absolute;
    left: -9999px;
  }
}