.container {
    display: grid;
    grid-row-start: auto;
    margin-bottom: -5%;

    .background {
        grid-area: 1/1;

        .image {
            width: 100%;
        }
    }

    .dave {
        grid-area: 1/1;
       // transform: translateY(10%);
        justify-self: end;
       // height: 150vh;
        float: right;
    }
}