.container {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, #14518a, #196795);
    position: relative;
    margin-bottom: 0;

    .event-section {
        margin-bottom: 20px;
    }

    h1 {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        margin-bottom: 10px;

        color: #fcdc8f;
    }

    h2 {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 10px;

        /* or 140% */

        color: #ffffff;
    }

    p {
        font-size: 25px;
        margin-bottom: 20px;
        font-weight: 400;
        line-height: 35px;
        font-family: Montserrat, sans-serif;
        color: #ffffff;
    }

    a {
        color: inherit;
    }
}
