.fileUpload {
    label {
        border: 2px solid #fcdc8f;
        border-radius: 50ch;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        margin-right: 8px;
        padding: 5px 12px;
        color: #fcdc8f;
    }

    .filename {
        color: #fcdc8f;
        font-size: 0.875em;
    }

    input {
        display: none;
    }

    p {
        font-style: italic;
        color: #c9d2e5;
        font-size: 1.25em;
    }
}
