.faq {
    position: relative;
    .faqContainer {
        display: flex;
        flex-direction: column;
    }
    .faqItemContainer1 {
        .faqHeader {
            position: relative;
            width: 30vw;
            height: fit-content;
            margin-left: 7vw;

            @media (max-width: 768px) {
                width: 45vw;
            }
        }
    }
    .faqLotties {
        position: relative;
    }
    .faqSpellbook {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: fit-content;
        width: 100%;
        transform: scale(0.9);
        margin: auto;
        top: -30vh;

        @media screen and (max-width: 1440px) {
            top: -18vh;
        }
        @media screen and (max-width: 1025px) {
            top: -18vh;
        }
        @media screen and (max-width: 900px) {
            top: -20vh;
        }

        g[id="general"],
        g[id="before"],
        g[id="during"],
        g[aria-label="GENERAL"],
        g[aria-label="BEFORE"],
        g[aria-label="DURING"] {
            cursor: pointer;
        }
    }

    .faqScroll {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: fit-content;
        width: 90%;
        margin: auto;
    }
}
