.subscribe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    column-gap: 1rem;

    .input {
        color: #753317;
        width: 60%;
        padding: 1rem;
        border-radius: 2rem;
        background-color: #fbaa1d;
        background-color: #fbaa1d;
        border: 0;
        font-size: 24px;
        @media screen and (max-width: 640px) {
            font-size: 16px;
            padding: 0.5rem;
        }
        font-weight: 400;

        &::placeholder {
            padding-left: 8px;
            font-weight: 400;
            color: #753317;
        }
    }

    .button {
        background-color: #753317;
        color: #fff;
        border-radius: 1000px;

        padding: 0.5rem 2rem;

        border: 0;
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;

        @media screen and (max-width: 640px) {
            font-size: 16px;
            padding: 0.25rem 1rem;
        }
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }
}
