.subscribe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    column-gap: 5%;

    .input {
        color: #ffffff;
        width: 60%;
        border-radius: 0.75rem;
        background-color: #0a697f;
        border: 0;
        font-size: 1.5rem;
        padding: 1rem;

        @media screen and (max-width: 1280px) {
            font-size: 1.25rem;
            padding: 0.75rem;
        }

        @media screen and (max-width: 1024px) {
            font-size: 1rem;
            padding: 0.75rem;
        }

        @media screen and (max-width: 900px) {
            font-size: 1rem;
            padding: 0.6rem;
        }

        @media screen and (max-width: 700px) {
            font-size: 1rem;
            padding: 0.4rem;
            width: 75%;
        }
        font-weight: 400;

        &::placeholder {
            padding-left: 0.5rem;
            font-weight: 400;
            color: #ffffff;
        }
    }

    .button {
        background-color: #faa91d;
        color: #ffffff;
        border-radius: 0.75rem;
        padding: 0.25rem 2.5rem;
        border: 0;
        font-size: 2.5rem;
        font-weight: 600;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

        @media screen and (max-width: 1280px) {
            font-size: 2rem;
            padding: 0.2rem 2rem;
        }

        @media screen and (max-width: 1024px) {
            font-size: 1.5rem;
            padding: 0.2rem 1.5rem;
        }

        @media screen and (max-width: 900px) {
            font-size: 1.25rem;
            padding: 0.2rem 1.25rem;
        }

        @media screen and (max-width: 700px) {
            font-size: 1rem;
            padding: 0.1rem 1rem;
        }
    }
}
