.hackknights {

    .hackknightsContainer {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        .hkBackground {
            height: fit-content;
            width: 100vw;
        }
    }
    .overlappingContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        gap: 0.5em;
        z-index: 100;
        .hkMascotsContainer {
            width: 55vw;
            .hkMascots {
                width: 100%;
                height: fit-content;

            }
        }
        .hkLearnMoreContainer {
            width: 40vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1vh;
            h3 {
                font-size: 4vw;
                text-align: center;
                font-weight: 700;
                letter-spacing: 1px;
                .introducing {
                    font-weight: 550;
                }
            }
            .hkButton {
                width: 100%;
                background: none;
                border: none;
                margin-top: 1vh;
                

                &:hover {
                    filter: brightness(0.9);
                    cursor: pointer;
                }
                
            }

            .hkLearnMoreButton {
                width: 80%;
            }
        }
    }

    .hkDividerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        .hkDivider {
            width: 100vw;
            height: fit-content;

            transform:  scaleX(1.3);

        }
    }

    
}