.navbar {
    position: absolute;
    top: 0;
    z-index: 3;
    padding: 48px 64px;
    color: white;
    width: 100%;

    img {
        object-fit: contain;

        width: 228px;
        height: 75px;

        @media screen and (max-width: 1440px) {
            width: 182.4px;
            height: 60px;
        }
        @media screen and (max-width: 960px) {
            width: 152px;
            height: 50px;
        }
        @media screen and (max-width: 640px) {
            width: 121.6px;
            height: 40px;
        }
    }

    @media screen and (max-width: 1152px) {
    }
    @media screen and (max-width: 960px) {
        padding: 32px 42.66px;
    }
    @media screen and (max-width: 640px) {
        padding: 24px 32px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarList {
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    gap: 36px;
    @media screen and (max-width: 960px) {
        display: none;
        visibility: hidden;
    }
}

.knightButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 140px;
    height: 46px;
    color: white;
}

.buttonBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: radial-gradient(
        103.26% 294.42% at 81.79% 29.35%,
        #ff9dcc 0%,
        #d0fdc9 47.4%,
        #c1f6f3 100%
    );
}

.buttonContent {
    z-index: 1;
    background: #000;
    border: 2px solid transparent;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-clip: padding-box;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.mobileMenu {
    cursor: pointer;
    position: relative;
    display: none;
    @media screen and (max-width: 960px) {
        display: block;
    }
}

.mobileMenuButton {
    position: relative;
    user-select: none;

    img {
        width: 200px;
        height: calc(200px * (94 / 242));
        @media screen and (max-width: 640px) {
            width: 120px;
            height: calc(150px * (94 / 242));
        }
    }

    span {
        color: white;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 20px;
        font-weight: 600;
        line-height: normal;

        @media screen and (max-width: 640px) {
            font-size: 18px;
            top: 57%;
        }
    }
}

.mobileNavbarMenu {
    position: absolute;
    top: calc(100% - 5px);
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 640px) {
        top: calc(100% - 10px);
    }
    li {
        width: 200px;
        @media screen and (max-width: 640px) {
            width: 150px;
        }

        padding: 18px;

        background-color: rgba(235, 246, 247, 0.11);

        border-radius: 16px;

        list-style: none;
        font-weight: 500;
        font-size: 16px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}
