.navbar {
    position: absolute;
    top: 0;
    z-index: 3;
    padding: 48px 64px;

    width: 100%;

    img {
        object-fit: contain;

        width: 228px;
        height: 75px;

        @media screen and (max-width: 1440px) {
            width: 182.4px;
            height: 60px;
        }
        @media screen and (max-width: 960px) {
            width: 152px;
            height: 50px;
        }
        @media screen and (max-width: 640px) {
            width: 121.6px;
            height: 40px;
        }
    }

    @media screen and (max-width: 1152px) {
    }
    @media screen and (max-width: 960px) {
        padding: 32px 42.66px;
    }
    @media screen and (max-width: 640px) {
        padding: 24px 32px;
    }
}
