.container {
    // background: url('/home/sponsors/background.svg') no-repeat center;
    display: grid;
    grid-template-rows: 1fr;
}

.text {
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;

    @media screen and ((min-width: 1280px) and (max-width: 1919px)) {
        font-size: 3rem;
    }
}

.background {
    grid-area: 1/1;
    background-color: #0a697f;
    > img {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }
}

.art {
    grid-area: 1/1;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    row-gap: min(5rem, calc(100vh / (1080 / 55)));

    // arranging the shelf
    > div:nth-child(1) {
        display: flex;
        flex-flow: column nowrap;
        padding-top: min(5vh, 5rem);

        // the items on the shelf
        > div {
            display: inline-flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: flex-end;
            column-gap: min(7.5vh, 10rem);
            transform: translateY(0.125rem);

            // Sponsors Bottle
            > div:nth-child(1) {
                transform: translateY(0.125rem);
                display: grid;
                grid-template-columns: 1fr;
                // position: relative;
                > img {
                    grid-area: 1/1;
                    width: min(30vw, 40rem);
                }
                > div {
                    grid-area: 1/1;
                    //  position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    > span {
                        margin-bottom: 15%;
                    }
                }
            }
            // Mushroom Plant
            > img:nth-child(2) {
                width: min(11.5vw, 15rem);
            }
            // Lamp
            > img:nth-child(3) {
                width: min(25vw, 30rem);
            }
        }

        // the shelf itself
        > img {
            align-self: center;
            width: 80%;
            max-width: 100%;
        }
    }

    // Arranging the Potion bottles
    > div:nth-child(2) {
        z-index: 2;
        display: grid;
        grid-template-columns: auto auto auto;
        place-items: center;
        row-gap: 0.5rem;
        padding: 0 5%;

        > :nth-child(2n-1) {
            height: min(50vh, 30rem);

            @media screen and ((min-width: 1280px) and (max-width: 1919px)) {
                height: min(45vh, 30rem);
            }
        }

        > :nth-child(2n-2) {
            width: min(30vw, 30rem);

            @media screen and ((min-width: 1280px) and (max-width: 1919px)) {
                width: min(25vw, 25rem);
            }
        }

        > img {
            width: 50%;
        }
    }

    .gizmo {
        z-index: 1;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: (calc(-100% / 2.25));

        @media screen and ((min-width: 1280px) and (max-width: 1919px)) {
            margin-top: (calc(-100% / 2.75));
        }

        > img {
            overflow: hidden;
            width: min(750%, calc(100vw / (1920 / 1208)));
            height: min(150rem, calc(100vh / (1080 / 2100)));
            max-width: 100%;
            //  max-width: 50%;
        }
    }
}
