.footerContainer {
    background-color: #b3d689;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 7.5%;
}

.footer {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    width: 100%;
    background-color: #b3d689;
    padding: 7.5rem 7.5%;
}

.title {
    display: block;
    font-size: 36px;
    @media screen and (max-width: 640px) {
        font-size: 24px;
    }
    font-weight: 600;
    color: #753317;
    text-align: center;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 5%;
    row-gap: 1.5rem;
    margin-top: 2rem;

    @media screen and (max-width: 576px) {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #fbaa1d;
        padding: 1rem;
        border-radius: 9999px;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

        .image {
            width: 2.75vw;
            height: 2.75vw;
           
            @media screen and (max-width: 576px) {
                width: 4vw;
                height: 4vw;
            }
        }
    }
}

.newsletterTitle {
    display: block;
    font-size: 28px;
    @media screen and (max-width: 640px) {
        font-size: 20px;
    }
    font-weight: 600;
    color: #753317;
    text-align: center;
    margin-bottom: 2rem;
    // white-space: nowrap;
}

// @media screen and ((max-width: 640px) or (min-width: 640px)) {
//     .footer {
//         row-gap: 1.5rem;
//         padding: 2.5rem 7.5%;
//     }
//     .title {
//         font-size: 1rem;
//     }
//     .icons {
//         display: grid;
//         justify-items: center;
//         grid-template-columns: repeat(3, 1fr);
//         margin-top: 1rem;
//         row-gap: 0.75rem;
//         padding: 0 5%;
//         .icon {
//             padding: 0.5rem;
//             .image {
//                 width: 1rem;
//                 height: 1rem;
//             }
//         }
//     }
//     .newsletterTitle {
//         font-size: 0.75rem;
//         margin-bottom: 1rem;
//     }
// }

// @media screen and (min-width: 768px) {
//     .footer {
//         row-gap: 2rem;
//         padding: 4.5rem 7.5%;
//     }
//     .title {
//         font-size: 1.75rem;
//     }
//     .icons {
//         display: grid;
//         justify-items: center;
//         grid-template-columns: repeat(3, 1fr);
//         margin-top: 1.25rem;
//         row-gap: 0.75rem;
//         padding: 0 10%;
//         .icon {
//             padding: 0.75rem;
//             .image {
//                 width: 1.5rem;
//                 height: 1.5rem;
//             }
//         }
//     }
//     .newsletterTitle {
//         font-size: 1.5rem;
//         margin-bottom: 1rem;
//     }
// }

// @media screen and (min-width: 1024px) {
//     .footer {
//         row-gap: 3rem;
//         padding: 7.5rem 7.5%;
//     }
//     .title {
//         font-size: 2.25rem;
//     }
//     .icons {
//         display: flex;
//         flex-direction: row;
//         margin-top: 1.25rem;
//         row-gap: 0.75rem;
//         padding: 0;
//         .icon {
//             padding: 0.875rem;
//             .image {
//                 width: 2rem;
//                 height: 2rem;
//             }
//         }
//     }
//     .newsletterTitle {
//         font-size: 2rem;
//         margin-bottom: 1rem;
//     }
// }

// @media screen and (min-width: 1280px) {
//     .footer {
//         row-gap: 2.75rem;
//         padding: 6rem 7.5%;
//     }
//     .title {
//         font-size: 3.25rem;
//     }
//     .icons {
//         display: flex;
//         flex-direction: row;
//         margin-top: 1.25rem;
//         row-gap: 0.75rem;
//         padding: 0;
//         .icon {
//             padding: 1.25rem;
//             .image {
//                 width: 2.5rem;
//                 height: 2.5rem;
//             }
//         }
//     }
//     .newsletterTitle {
//         font-size: 2.75rem;
//         margin-bottom: 1rem;
//     }
// }

// @media screen and (min-width: 1536px) {
//     .footer {
//         row-gap: 2.75rem;
//         padding: 6rem 7.5%;
//     }
//     .title {
//         font-size: 4.25rem;
//     }
//     .icons {
//         display: flex;
//         flex-direction: row;
//         margin-top: 2rem;
//         row-gap: 1.5rem;
//         padding: 0;
//         .icon {
//             padding: 1.5rem;
//             .image {
//                 width: 2.75rem;
//                 height: 2.75rem;
//             }
//         }
//     }
//     .newsletterTitle {
//         font-size: 3.5rem;
//         margin-bottom: 2rem;
//     }
// }
