.input {
    display: block;
    font-family: inherit;
    border: none;
    outline: none;
    font-size: 1.25em;
    font-weight: 300;
    border-bottom: 1.5px solid #ffffff;
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    color: #ffffff;

    &::placeholder {
        color: #ffffff;
        font-size: 0.9em;
    }
}

.multiline {
    width: 100%;
    min-height: 29vh;
    padding: 10px 0;
    border: 3px solid #ffffff;
    border-radius: 10px;
    font-family: "Montserrat";
    color: #1d2644;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    background-color: #c9d2e5;

    &::placeholder {
        color: #1d2644;
        font-size: 0.9em;
    }
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
