@use "/app/colors" as *;

.eventsMain {
    background-color: #964c1b;
    height: 100vh;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 220px;
    padding-right: 220px;
    padding-top: calc(41px + (130 / 1512) * 100vw);
    padding-bottom: calc(-13vw + (285 / 952) * 100vw);

    @media screen and (max-width: 1152px) {
        padding-left: 180px;
        padding-right: 180px;
    }
    @media screen and (max-width: 960px) {
        padding-left: 130px;
        padding-right: 130px;
    }
    @media screen and (max-width: 640px) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.sheet {
    position: absolute;
    top: 0;
    left: 0;

    $x-height: 73.5px;
    $y-height: 57.5px;

    // prettier-ignore
    clip-path: polygon(
      0% $y-height, $x-height 0%, /* top left corner fold */
      25% 0%, calc(25% + 10px) 14px, calc(25% + 20px) 0, calc(25% + 25px) 9px, calc(25% + 30px) 0%,  /* T1 2p mountain */
      38.8% 0%, calc(38.8% + 7px) 11px, calc(38.8% + 14px) 0%,   /* T2 1p mountain */
      57% 0%, calc(57% + 5px) 10px, calc(57% + 10px) 0%,   /* T3 1p mountain */
      100% 0%, /* top left corner */
      100% 42%, calc(100% - 10px) calc(42% + 5px), 100% calc(42% + 10px),  /* R1 1p mountain */
      100% 70%, calc(100% - 11px) calc(70% + 6.5px), 100% calc(70% + 13px), calc(100% - 11px) calc(70% + 19.5px), 100% calc(70% + 26px),  /* R2 2p mountain */
      100% 100%, /* bottom right corner */
      88.3% 100%, calc(88.3% - 5px) calc(100% - 9px), calc(88.3% - 10px) 100%,   /* B1 1p mountain */
      66.8% 100%, calc(66.8% - 7px) calc(100% - 12px), calc(66.8% - 14px) 100%,   /* B2 1p mountain */
      calc(66.8% - 20px) 100%, calc(66.8% - 24px) calc(100% - 6px), calc(66.8% - 28px) 100%,  /* B3 1p mountain */
      22.5% 100%, calc(22.5% - 6px) calc(100% - 11px), calc(22.5% - 12px) 100%, calc(22.5% - 22px) calc(100% - 18px), calc(22.5% - 32px) 100%,   /* B4 2p mountain */
      0% 100%, /* bottom left corner */
      0% 78.5%, 10px calc(78.5% - 6px), 0% calc(78.5% - 12px),  /* L1 2p mountain */
      0% 42.6%, 10px calc(42.6% - 6px), 2px calc(42.6% - 11px), 10px calc(42.6% - 16px), 0% calc(42.6% - 22px)  /* L1 2p mountain */
    );

    background-color: $events-bg-secondary;
    width: 100%;
    height: 100%;

    padding: 72px 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    @media screen and (max-width: 1152px) {
        padding: 64px 92px;
    }
    @media screen and (max-width: 640px) {
        padding: 48px 64px;

        // prettier-ignore
        clip-path: polygon(
          0% 34px, 44px 0%, /* top left corner fold */
          38.8% 0%, calc(38.8% + 7px) 11px, calc(38.8% + 14px) 0%,   /* T2 1p mountain */
          100% 0%, /* top left corner */
          100% 42%, calc(100% - 10px) calc(42% + 5px), 100% calc(42% + 10px),  /* R1 1p mountain */
          100% 70%, calc(100% - 11px) calc(70% + 6.5px), 100% calc(70% + 13px), calc(100% - 11px) calc(70% + 19.5px), 100% calc(70% + 26px),  /* R2 2p mountain */
          100% 100%, /* bottom right corner */
          88.3% 100%, calc(88.3% - 5px) calc(100% - 9px), calc(88.3% - 10px) 100%,   /* B1 1p mountain */
          66.8% 100%, calc(66.8% - 7px) calc(100% - 12px), calc(66.8% - 14px) 100%,   /* B2 1p mountain */
          calc(66.8% - 20px) 100%, calc(66.8% - 24px) calc(100% - 6px), calc(66.8% - 28px) 100%,  /* B3 1p mountain */
          22.5% 100%, calc(22.5% - 6px) calc(100% - 11px), calc(22.5% - 12px) 100%, calc(22.5% - 22px) calc(100% - 18px), calc(22.5% - 32px) 100%,   /* B4 2p mountain */
          0% 100%, /* bottom left corner */
          0% 78.5%, 10px calc(78.5% - 6px), 0% calc(78.5% - 12px),  /* L1 2p mountain */
          0% 42.6%, 10px calc(42.6% - 6px), 2px calc(42.6% - 11px), 10px calc(42.6% - 16px), 0% calc(42.6% - 22px)  /* L1 2p mountain */
        );
    }
}

.sheetWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.eventsLabel {
    color: $logo-primary;

    font-size: 50px;
    @media screen and (max-width: 960px) {
        font-size: 40px;
    }
    @media screen and (max-width: 640px) {
        font-size: 26px;
    }
}

.eventsDescription {
    color: rgba(0, 0, 0, 0.7);

    font-size: 20px;
    @media screen and (max-width: 960px) {
        font-size: 18px;
    }
    @media screen and (max-width: 640px) {
        font-size: 16px;
    }
}

.eventsTagline {
    color: rgba(0, 0, 0, 0.7);

    font-size: 34px;
    font-weight: 700;
    @media screen and (max-width: 960px) {
        font-size: 28px;
    }
    @media screen and (max-width: 640px) {
        font-size: 26px;
    }
}

.topLeftFoldWrapper {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;

    @media screen and (max-width: 640px) {
        scale: 0.6;
        transform: translate(-23px, -25px);
    }
}

.topRightFoldWrapper {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(78px, -23.5px);
    @media screen and (max-width: 1152px) {
        scale: 0.8;
        transform: translate(129px, -45px);
    }
    @media screen and (max-width: 960px) {
        scale: 0.6;
        transform: translate(214px, -81px);
    }
    @media screen and (max-width: 640px) {
        scale: 0.4;
        transform: translate(383px, -152px);
    }
}

.leftPageWrapper {
    position: absolute;
    top: 40%;
    left: 0;
    transform: translate(0, -50%);

    img {
        width: 250px;
    }
    @media screen and (max-width: 1152px) {
        img {
            width: 200px;
        }
    }
    @media screen and (max-width: 960px) {
        img {
            width: 150px;
        }
    }
}
.rightPageWrapper {
    position: absolute;
    top: 45%;
    right: 0;
    transform: translate(0, -50%);

    img {
        width: 250px;
    }
    @media screen and (max-width: 1152px) {
        img {
            width: 200px;
        }
    }
    @media screen and (max-width: 960px) {
        img {
            width: 150px;
        }
    }
}

.topPlankWrapper {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.bottomPlankWrapper {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100vw;
}
