.joinus {
    min-height: fit-content;
    z-index: 10;
    position: relative;
    display: block;
    margin: 5em 0;
    padding-top: 12vh;

    .joinusContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .shelfContainer {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 2em;
        .shelf {
            width: 70%;
            height: fit-content;
        }
    }

    

    .socialmediaContainer {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3vw;
        transform: translateX(15vw);
        .twitter {
            width: 16vw;
            height: fit-content;
        }
        .instagram {
            width: 16vw;
            height: fit-content;
        }
    }

    .joinusText {
        font-size: 26px;
        font-weight: 600;
        color: #ffffff;
        text-align: center;
        width: 70%;
        a {
            text-decoration: underline;
        }

        @media (max-width: 1024px) {
            font-size: 22px;
        }
        @media (max-width: 768px) {
            font-size: 15px;
        }
        @media (max-width: 425px) {
            font-size: 12px;
        }
    }

    .bricks {
        z-index: -1;
        height: fit-content;
        width: 90%;
        position: absolute;
        transform: translateY(-10vh);
    }
    
}