@import '../breakpoints.scss';




.eventInfo {
  background: linear-gradient(to bottom, #14518A, #196795);
  position: relative;
  min-height: 100vh;
  z-index: 2;
  margin-bottom: 0;
    h1 {     
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 59px;
      
      color: #FCDC8F;
      
    }




    h2 {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 35px;
      /* or 140% */
      
      
      color: #FFFFFF;
      
    }

    p{
      font-size: 22px;
      font-weight: 200;
      line-height: 27px;
      font-family: Montserrat, sans-serif;
      color:#FFFFFF
    }

    


 
}
  
