@import '../breakpoints.scss';




.eventInfo {
  background: linear-gradient(to bottom, #14518A, #196795);
  position: relative;
  min-height: 100vh;
  z-index: 2;
  margin-bottom: 0;
  
    h1 {     
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 59px;
      
      color: #FCDC8F;
      
    }




    h2 {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 35px;
      /* or 140% */
      
      
      color: #FFFFFF;
      
    }

    p{
      font-size: 22px;
      font-weight: 200;
      line-height: 27px;
      font-family: Montserrat, sans-serif;
      color:#FFFFFF
    }

  firework1position{

position: absolute;
left: -4.53%;
right: 70.51%;
top: 28.54%;
bottom: 63.8%;
    }
firework2position{
  position: absolute;
  left: 59.69%;
  right: -12.84%;
  top: 33.49%;
  bottom: 58.11%;
  
  opacity: 0.38;
          }


  firework3position{
    position: absolute;
    left: 56.73%;
    right: 10.07%;
    top: 21.25%;
    bottom: 71.91%;
                }



 
}
  
