.faq {
    position: relative;
    min-height: 200vh;
    .faqContainer {
        display: flex;
        flex-direction: column;

    }
    .faqItemContainer1 {
        .faqHeader {
            position: relative;
            width: 30vw;
            height: fit-content;
            margin-left: 7vw;

        }
    }



    .faqItemContainer2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .faqBook {
            position: relative;
            width: 80vw;
            height: fit-content;
            
        }
    }


    .buttonContainer {
        z-index: 101;
        width: 100%;
        height: fit-content;
        position: absolute;
        display: flex;
        gap: 2vw;
        bottom: 20em;
        h3 {
            font-size: 1vw;
            font-weight: 600;
        }
        
        .generalButton {
            border: none;
            background-color: #DD5740;
            padding: 1vw 1vw;
            border-width: medium;
            &:hover {
                cursor: pointer;
            }
        }
        .beforeButton {
            border: none;
            background-color: #C9345A;
            padding: 1vw 1vw;

            &:hover {
                cursor: pointer;
            }

            
        }
        .afterButton {
            border: none;
            background-color: #3C7C31;
            padding: 1vw 2vw;

            &:hover {
                cursor: pointer;
            }
        }

        .generalClicked {
            border: 4px solid #FFB23E;
            background-color: #DD5740;
            padding: 1vw 1vw;
        }

        .beforeClicked {
            border: 4px solid #FFB23E;
            background-color: #C9345A;
            padding: 1vw 1vw;
        }

        .afterClicked {
            border: 4px solid #FFB23E;
            background-color: #3C7C31;
            padding: 1vw 2vw;
        }


        
        
    }
    .faqTextContainer {
        width: 70%;
        position: absolute;
        z-index: 100;
        margin-top: 40vh;
    }

    .faqContent {
        columns: 60px 2;
        .faqContentColumn {
            display: inline-block;
            
            color: #000000;
            font-weight: 500;
            line-height: 30px;
            
            margin-left: 2vw;
            margin-right: 2vw;

            @media (max-width: 1200px) {
                margin: 20px 20px 5px 0;
                line-height: 24px;
            }

            @media (max-width: 912px) {
                margin: 10px 5px 0px 5px;
            }

            h3 {
                margin: 20px 0 8px 0;
                color: #000000;
                font-size: 24px;
                font-weight: 800;

                @media (max-width: 1200px) {
                    margin: 0px 0 5px 0;
                }

                @media (max-width: 912px) {
                    font-size: 16px;
                    margin: 10px 0 5px 0;
                }
            }

            p {
                font-size: 20px;
                @media (max-width: 912px) {
                    font-size: 14px;
                }
            }
        }

        @media (max-width: 912px) {
            flex-direction: column;
            margin: 10px 10px;
        }
    }
    
}